a {
        color :#264653;
    }

    body {
      background: #264653;
      color: #000000;
      font-family: sans-serif, cursive;
      margin: 0;
      /* background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); */
      /* future design???? background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 450'><defs><pattern id='hexDots' width='40' height='34.64' patternUnits='userSpaceOnUse'><circle cx='20' cy='10' r='4' fill='%23ffffff'/><circle cx='0' cy='27.32' r='4' fill='%23ffffff'/><circle cx='40' cy='27.32' r='4' fill='%23ffffff'/></pattern></defs><rect width='100%' height='100%' fill='%231f2a36'/><rect width='100%' height='100%' fill='url(%23hexDots)'/></svg>");*/
    }

    .container {
      width: 800px;
      margin: 20px auto;
      background: #2a9d8F;
      border: 3px solid #e9c46a;
      padding: 20px;
    }

    header {
      background: #264653;
      padding: 20px;
      text-align: center;
      border: 3px solid #e9c46a;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 48px;
      margin: 0;
      color: #f29849;
    }

    .section {
      background: #ffd761;
      padding: 20px;
      margin: 20px 0;
      border: 3px solid #e9c46a;
    }

    .section h2 {
      color: #f29849;
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-color: #a16633;
    }

    .project {
      background: #2a9d8F;
      padding: 10px;
      margin: 10px 0;
      border: 2px solid #e9c46a;
    }

    .marquee {
      background: #264653;
      padding: 10px;
      color: #FFFFFF;
      margin: 20px 0;
    }

    .blink {
      animation: blink 3s infinite;
    }

    @keyframes blink {
      0% { opacity: 1; }
      60% { opacity: 0; }
      100% { opacity: 1; }
    }

    mark {
	    background-color: #f29849;
    }

    img {
      border: 3px solid #f4a261;
      margin: 10px;
    }